<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362156177610-pge574ntdvm8enrdvj5efrbl4p5iofjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362156177610-pge574ntdvm8enrdvj5efrbl4p5iofjq</string>
	<key>API_KEY</key>
	<string>AIzaSyBpSX07EUex5ezm-xm1tLesccLkVGRHo58</string>
	<key>GCM_SENDER_ID</key>
	<string>362156177610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.undefined</string>
	<key>PROJECT_ID</key>
	<string>undefined-98c49</string>
	<key>STORAGE_BUCKET</key>
	<string>undefined-98c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362156177610:ios:7f9bce219967a23cea9c33</string>
</dict>
</plist>